@font-face {
  font-family: 'MyCustomFont';
  src: url('../fonts/Formula1-Regular.otf') format('woff2'),
       url('../fonts/Formula1-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F1BOLD';
  src: url('../fonts/Formula1-Bold.otf') format('woff2'),
       url('../fonts/Formula1-Bold.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'MyCustomFont', sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: rgb(116, 116, 116);
  --text-color: #020202;
  --bg-color: #fff;
}

img {
  width: 100%;
}

body {
  color: var(--text-color)
}

.container {
  max-width: 80%;
  margin: auto;
  justify-content: center;
  width: 100%;
  transition: .4s;
}

.top-info {
  background-color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

.top {
  display: flex;
  max-width: 1300px;
  top: 0;
  color: #020202;
  text-decoration: none;
  justify-content: flex-end;
  flex-direction: row;
}

.top ul {
  display: flex;
  align-items: center;
}

.top li {
  padding: 0 10px;
}

.top a {
  color: black;
  border-right: 1px solid gray;
  padding-right: 10px;
  transition: .4s;
  font-size: 12px;
}

.top a:hover {
  color: rgb(134, 134, 134);
  border-right: 1px solid gray;
  padding-right: 15px;
}

.top-information {
  display: flex;
  justify-content: right;
  max-width: 95%;
  padding: 0px;
}

.left-info {
  display: flex;
  width: 100%;
  color: #020202;
  text-decoration: none;
  justify-content: space-between;
  width: 95%;
  flex-direction: row;
  font-size: 12px;
}

.left-info img {
  height: auto;
  width: 50px;
  max-width: 75%;
  filter: grayscale(100%);
}

.left-info ul {
  display: flex;
  align-items: center;
}

.left-info li {
  padding: 0 10px;
}

.left-info a {
  color: black;
  transition: .4s;
  font-size: 12px;
}

.left-info a:hover {
  color: rgb(134, 134, 134);
}

header {
  position: relative;
  width: 100%;
  background: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0, 4%, 15% / 10%);
  background-color: rgb(223, 0, 0);
}

header img {
  height: auto;
  width: 130px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.nav a {
  color: white;
  transition: color 0.3s ease; 
}

.nav a:hover {
  color: rgb(67, 67, 67);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-overlay h1 {
  font-size: 60px;
  max-width: 90%;
  margin-bottom: 16px;
}

.text-overlay h2 {
  font-size: 50px;
}

.topnews img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 120px;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.topnewsborder {
  position: absolute;
  top: 0;
  right: 5%;
  width: 5px; 
  height: 100%;
  background-color: red; 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}


.topnews img {
  margin-top: 5px; 
}

.topnews p {
  font-size: 18px;
  margin: 20px;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 10px solid red;
}

.topnews h1 {
  font-size: 25px;
  text-align: center;
  margin: 30px;
}

.news-item {
  transition: transform 0.3s ease; 
}

.news-item:hover {
  transform: translateY(-5px); 
}

.news-container {
  width: 80%;
  margin: 0 auto; 
}

.news-wrapper {
  width: 100%;
}

.news-row {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.news-item {
  width: calc(25% - 10px);
  padding: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
}

.news-item img {
  width: 100%;
  height: auto;
}

.gamebutton {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gamebutton button {
  padding: 20px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.hero {
  background-image: url('../images/hero-background.jpg');
  background-size: cover;
  background-position: center;
  height: 500px; 
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 40px;
  font-family: 'F1BOLD', sans-serif;
  margin-bottom: 20px;
}

.hero-content span {
  font-family: 'F1BOLD', sans-serif;
  color: red;
}

.hero-content p {
  font-size: 15px;
}

.hero::before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero {
  background-attachment: fixed;
}

footer {
  margin-top: 100px;
  padding: 40px;
  background-color: black;
  color: white;
}

footer img {
  height: auto;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.footertext {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rgb(223, 0, 0);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: black;
  color: white;
  width: 510px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 0.3s ease;
  top: -120%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content .dropdown-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid white;
}

.dropdown-content .dropdown-row:last-child {
  border-bottom: none;
}

.dropdown-content .dropdown-row img {
  width: 200px;
  height: auto;
  margin-right: 170px;
}

.dropdown-content .dropdown-row p {
  margin: 0;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 200;
  border: none;
  outline: none;
  background-color: rgb(223, 0, 0);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  font-size: 70px;
}

#scrollTopBtn:hover {
  background-color: rgb(187, 0, 0);
}

@media screen and (max-width: 576px) {
  .nav a {
      font-size: 14px;
  }
}

@media screen and (min-width: 576px) {
  .nav a {
      font-size: 16px;
  }
}

@media screen and (min-width: 2560px) {
  .nav a {
      font-size: 18px;
  }
}

@media screen and (min-width: 3840px) {
  .nav a {
      font-size: 20px;
  }
}

@media screen and (min-width: 2560px) and (max-width: 3839px) {
  .nav a {
      font-size: 18px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2559px) {
  .nav a {
      font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .nav a {
      font-size: 12px;
  }

  .left-info {
      width: 75%;
  }

  .left-info img {
      width: 40px;
  }
}

@media screen and (max-width: 320px) {
  .nav a {
      font-size: 10px;
  }

  .container {
      max-width: 90%;
  }

  header img {
      width: 100px;
  }

  .text-overlay h1 {
      font-size: 50px;
  }

  .text-overlay h2 {
      font-size: 40px;
  }

  .left-info img {
      width: 30px;
  }

  .left-info li {
      padding: 0 5px;
  }

  .topnews img {
      padding-left: 15px;
      padding-right: 15px;
  }

  .topnews h1 {
      font-size: 30px;
  }

  .topnews p {
      font-size: 16px;
      padding-bottom: 20px;
  }

  .news-item {
      width: 100%;
      padding: 5px;
      margin-top: 15px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .nav a {
      font-size: 14px; 
  }

  .news-item {
      width: 100%;
  }

  .news-item img {
      width: 100%;
      height: auto;
      margin: 0 auto; 
  }
}

@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 16px;
  }
}


.container {
  text-align: center;
}


.container {

  padding: 10px;
}

.btn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.btn:hover {
  background-color: #ddd;
}
